body {
  background-color: #bdb6b6 ;
  color: #333;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

body h3 {
  margin-left: 20px;
  color: #ff3c00;
}

iframe {
  border: none; 
  width: 100%;
  height: 50px;
}

/* Stil za div #osnovno */
#osnovno {
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;
  padding: 20px;
  margin: 20px auto;
  background-color: #bdb6b6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#osnovno img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stil za div #detalji */
#detalji {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
  background-color: #ff7f58;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

#kolona1 {
  order: 1;
  flex: 1 1 auto;
  align-self: auto;
}

#kolona2 {
  order: 2;
  flex: 1 1 auto;
  align-self: auto;
}

#opis {
  order: 3;
  flex: 0 1 100%;
  align-self: auto;
}


/* Stil za div #upiti */
#upiti {
  display: grid;
  gap: 10px;
  border: 1px solid #000;
  padding: 20px;  
  margin: 20px;
  background-color: #ff7f58;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

@media(min-width: 801px) {
  #upiti {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 600px) and (max-width: 800px) {
  #upiti {
    grid-template-columns: 1fr;
  }
}

.carousel-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.carousel-nav button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.carousel-nav button:hover {
  background-color: #0056b3;
}

/* Carousel prikaz kada je širina ekrana manja ili jednaka 600px */
@media (max-width: 600px) {
  #upiti {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }

  .upit {
    display: none;
  }

  .upit:nth-child(1) {
    display: block;
  }

  .carousel-nav {
    margin: 10px 0;
  }
}

@media (min-width: 601px) {
  .carousel-nav {
    display: none;
  }
}