body {
    background-color: #f4f4f9;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #004080;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  /* Centers items vertically */
}

li {
    float: left;
    position: relative;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    position: relative;
    line-height: 1.5em;
    font-size: 16px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

li a:hover {
    color: #ffd700;
    background-color: #003366;
}

li a:hover span {
    visibility: hidden;
}

i {
    display: block;
    color: #ffd700;
    font-size: 1em;
    transition: all 1s ease;
    margin-bottom: 0.3em;
    position: absolute;
    bottom: -0.3em;
    transform: translateX(-50%);
    left: 50%;
}

li a:hover i {
    font-size: 1.5em;
    bottom: 0;
}