body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
}

iframe {
    position: fixed;
    border: none; 
    width: 100%;
    height: 50px;
    top: 0;
}

#search-container {
    margin-top: 70px;
    margin-bottom: 30px;
}


h1 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
}

.grid-lista-nekretnina {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    padding: 20px;
    justify-content: center;
    /* Centriranje po horizontali */
    align-content: center;
    /* Centriranje po vertikali */
}

.nekretnina {
    border: 2px solid #000;
    padding: 30px;
    background-color: white;
    text-align: center;
    max-width: 300px;
    height: 400px;
}

.nekretnina.kuca {
    background-color: powderblue;
}

.nekretnina.pp {
    background-color: green;
}

.slika-nekretnine {
    max-width: 100%;
    height: 50%;
    margin-top: 20px;
}

.detalji-nekretnine {
    text-align: left;
}

.detalji-nekretnine h3 {
    margin: 0;
    white-space: nowrap;
}

.detalji-nekretnine p {
    margin: 5px 0;
}

.cijena-nekretnine {
    text-align: right;
    margin-bottom: 40px;
}

.detalji-dugme {
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center; /* Centriranje horizontalno i vertikalno */
}

#dugmePretraga {
    grid-column: span 2; /* Dugme će zauzeti oba fr */
}